{% extends "base.html" %}

{% block title %}{{ block.super }} - Alle Wetterdaten{% endblock %}

{% block content %}
<h2>Alle Wetterdaten</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Temperatur</th>
            <th>rel. Luftfeuchtigkeit</th>
            <th>Luftdruck</th>
            <th>Helligkeit</th>
            <th>Höhe</th>
            <th>Eingetragen am</th>
            <th>Nutzer</th>
            <th>Wetterstation</th>
            <th>Stadt</th>
            <th>Land</th>
        </tr>
    </thead>
    <tbody>
     {% for wd in weatherdata %}
        <tr>
            <td>{{ wd.temperature }}</td>
            <td>{{ wd.humidity }}</td>
            <td>{{ wd.air_pressure}}</td>
            <td>{{ wd.lightness }}</td>
            <td>{{ wd.altitude }}</td>
            <td>{{ wd.timestamp }}</td>
            <td><a href="{{ wd.weatherstation.get_absolute_url2 }}">{{ wd.weatherstation.user }}</a></td>
            <td><a href="{{ wd.get_absolute_url }}">{{ wd }}</a></td>
            <td><a href="{{ wd.weatherstation.get_absolute_url3 }}">{{  wd.weatherstation.city.city}}</a></td>
            <td>{{ wd.weatherstation.city.country.country }}</td>
        </tr>
     {% endfor %}
    </tbody>
</table>
                    <!-- Next/Prev page links  -->
      <div class="col-lg-12" align="right">
      {% if weatherdata.object_list and weatherdata.paginator.num_pages > 1 %}

        <ul class="pagination">

                {% if weatherdata.has_previous %}
                    <li><a href= "?page={{ weatherdata.previous_page_number }}">&lt;&lt;</a></li>
                {% endif %}

                {% for page in weatherdata.paginator.page_range %}
                {% if weatherdata.number == page %}
                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}

                {% if weatherdata.has_next %}
                    <li><a href="?page={{ weatherdata.next_page_number }}"> &gt;&gt;</a></li>
                {% endif %}
        </ul>
        {% endif %}
      </div>

    {% url 'view-index' as index_url  %}
    <h6><a href="{{ index_url }}">Zurück zur Übersicht</a></h6>
{% endblock %}