{% extends "base1.html" %}

{% block title %}{{ block.super }} - Alle Wetterdaten{% endblock %}

{% block content %}

<h2>{{ city }}</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Air Pressure</th>
            <th>Lightness</th>
            <th>Altitude</th>
            <th>Datum</th>
            <th>Wetterstation</th>
        </tr>
    </thead>
    <tbody>
     {% for wd in weatherdata %}
        <tr>
            <td>{{ wd.temperature }}</td>
            <td>{{ wd.humidity }}</td>
            <td>{{ wd.air_pressure}}</td>
            <td>{{ wd.lightness }}</td>
            <td>{{ wd.altitude }}</td>
            <td>{{ wd.timestamp }}</td>
            <td>{{ wd.weatherstation.name }}</td>
        </tr>
     {% endfor %}
    </tbody>
</table>
    {% url 'view_index' as index_url  %}
    <h6><a href="{{ index_url }}">Zurück zur Übersicht</a></h6>
{% endblock %}