{% extends "base.html" %}

{% block title %}{{ block.super }} - Alle Wetterdaten{% endblock %}

{% block content %}
<h2>Alle Wetterdaten</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Air Pressure</th>
            <th>Lightness</th>
            <th>Altitude</th>
            <th>Datum</th>
            <th>User</th>
            <th>Wetterstation</th>
        </tr>
    </thead>
    <tbody>
     {% for wd in weatherdata %}
        <tr>
            <td>{{ wd.temperature }}</td>
            <td>{{ wd.humidity }}</td>
            <td>{{ wd.air_pressure}}</td>
            <td>{{ wd.lightness }}</td>
            <td>{{ wd.altitude }}</td>
            <td>{{ wd.timestamp }}</td>
            <td><a href="{{ wd.get_absolute_url2 }}">{{ wd.user }}</a></td>
            <td><a href="{{ wd.get_absolute_url }}">{{ wd }}</a></td>
        </tr>
     {% endfor %}
    </tbody>
</table>
{% endblock %}