{% extends "base_index.html" %}

{% block title %}{{ block.super }} - Alle Wetterdaten{% endblock %}

{% block content %}
<h2>Alle Wetterdaten</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Temperatur</th>
            <th>rel. Luftfeuchtigkeit</th>
            <th>Luftdruck</th>
            <th>Helligkeit</th>
            <th>Höhe</th>
            <th>Stadt</th>
        </tr>
    </thead>
    <tbody>
     {% for wd in weatherdata %}
        <tr>
            <td>{{ wd.temperature }}</td>
            <td>{{ wd.humidity }}</td>
            <td>{{ wd.air_pressure}}</td>
            <td>{{ wd.lightness }}</td>
            <td>{{ wd.altitude }}</td>
            <!--<td>{{ wd.timestamp }}</td>-->
            <!--<td><a href="{{ wd.weatherstation.get_absolute_url2 }}">{{ wd.weatherstation.user }}</a></td>-->
            <!--<td><a href="{{ wd.get_absolute_url }}">{{ wd }}</a></td>-->
            <td><a href="{{ wd.weatherstation.get_absolute_url3 }}">{{  wd.weatherstation.city.city}}</a></td>
            <!--<td>{{ wd.weatherstation.city.country.country }}</td>-->
        </tr>
     {% endfor %}
    </tbody>
</table>
    {% url 'view-all_wd' as all_wd_url  %}
<p><a class="btn btn-default" href="{{ all_wd_url }}">View details &raquo;</a></p>
{% endblock %}
{% block sidebar %}
    <div class="sidebar-module">
          	<h4>Aktuelle News</h4>
          	<ol class="list-unstyled">
          		<li><a href="#">Wetterportal startet</a></li>
          		<li><a href="#">Wartung am 03.03.2014</a></li>
          		<li><a href="#">Neue Funktionen</a></li>
          	</ol>
          </div>
          <div class="sidebar-module">
          	<h4>Meistgesuchte Städte</h4>
          	<ol class="list-unstyled">
          		<li><a href="#">Rostock</a></li>
          		<li><a href="#">Berlin</a></li>
          		<li><a href="#">Hamburg</a></li>
          		<li><a href="#">Wismar</a></li>
          		<li><a href="#">Stuttgart</a></li>
          		<li><a href="#">Schwerin</a></li>
          		<li><a href="#">Nürnberg</a></li>
          		<li><a href="#">München</a></li>
          	</ol>

          </div>
          <div class="sidebar-module">
          	<h4>Social Media</h4>
          	<ol class="list-unstyled">
          		<li><a href="#">Twitter</a></li>
          		<li><a href="#">Facebook</a></li>
          		<li><a href="#">Google+</a></li>
          		<li><a href="#">Xing</a></li>
          	</ol>
          </div>
{% endblock %}