{% extends "base.html" %}

{% block title %}{{ block.super }} - Alle Wetterdaten{% endblock %}

{% block content %}
<h1>{{ user }}</h1>
{% for ws, wd in weather_dict.items %}
<h4>Wetterstation - <a href="{{ ws.get_absolute_url }}">{{ ws }}</a></h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Temperatur (C°)</th>
            <th>rel. Luftfeuchtigkeit (%)</th>
            <th>Luftdruck (mbar)</th>
            <th>Beleuchtungsstärke (Lux)</th>
            <th>rel. Höhe (cm)</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        {% for current in wd|slice:"5" %}
        <tr>
            <td>{{ current.temperature}}</td>
            <td>{{ current.humidity }}</td>
            <td>{{ current.air_pressure }}</td>
            <td>{{ current.lightness }}</td>
            <td>{{ current.altitude}}</td>
            <td>{{ current.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
    {% url 'view-index' as index_url  %}
    <h6><a href="{{ index_url }}">Zurück zur Übersicht</a></h6>
{% endblock %}