{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Wegtam Wetter Portal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">

        <script src={% static "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" %}></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!--<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>-->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="active"><a href="#about">About</a></li>
            <li class="active"><a href="#contact">Kontakt</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      	<div class="col-lg-4"><a href="#"><img src="{% static "img/logo_300_blue.png" %}" alt="Wegtam Logo" /></a></div>
      	<div class="col-lg-8">
      	  <h1>Wetter Portal</h1>
          <p>Das Wegtam Wetter-Portal ist eine für Wetterfrösche entwickelte Plattform. Es wurde für die Erfassung und Ausgabe von Wetterdaten konzipiert. Unabhängig davon ob ein Nutzer Wetterdaten zur Verfügung stellt, kann jeder Nutzer alle Wetterdaten des Web-Portals einsehen.</p></div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-lg-3 col-lg-offset-1 blog-sidebar">
            {% block sidebar %}{% endblock %}
        </div>
        <!--<div class="col-lg-3 col-lg-offset-1 blog-sidebar ">
          <div class="sidebar-module">
          	<h4>Aktuelle News</h4>
          	<ol class="list-unstyled">
          		<li><a href="#">Wetterportal startet</a></li>
          		<li><a href="#">Wartung am 03.03.2014</a></li>
          		<li><a href="#">Neue Funktionen</a></li>
          	</ol>
          </div>
          <div class="sidebar-module">
          	<h4>Meistgesuchte Städte</h4>
          	<ol class="list-unstyled">
          		<li><a href="#">Rostock</a></li>
          		<li><a href="#">Berlin</a></li>
          		<li><a href="#">Hamburg</a></li>
          		<li><a href="#">Wismar</a></li>
          		<li><a href="#">Stuttgart</a></li>
          		<li><a href="#">Schwerin</a></li>
          		<li><a href="#">Nürnberg</a></li>
          		<li><a href="#">München</a></li>
          	</ol>
          	
          </div>
          <div class="sidebar-module">
          	<h4>Social Media</h4>
          	<ol class="list-unstyled">
          		<li><a href="#">Twitter</a></li>
          		<li><a href="#">Facebook</a></li>
          		<li><a href="#">Google+</a></li>
          		<li><a href="#">Xing</a></li>
          	</ol>
          </div>
       </div>-->
      </div>

      <hr>

      <footer>
        <p>&copy; Wegtam UG</p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.10.1.min.js" %}"><\/script>')</script>

        <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>

        <script src="{% static "js/main.js" %}"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
